<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav
            class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark no-shadow gradient-45deg-main-color-main-color-medium">
            <div class="nav-wrapper">
                <!--<ul class="navbar-list right">
                    <li>
                        <a class="waves-effect waves-block waves-light profile-button cursor-pointer"
                           data-target="profile-dropdown">
                            <span class="avatar-status avatar-online">
                                <img src="assets/images/user/avatar-gray.png" alt="avatar">
                            </span>
                        </a>
                    </li>
                </ul>-->
                <!-- profile-dropdown-->
                <!--<ul class="dropdown-content" id="profile-dropdown">
                    <li>
                        <a class="grey-text text-darken-1 cursor-pointer" [routerLink]="['/perfil']">
                            <i class="material-icons">person_outline</i>
                            Perfil
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-darken-1 cursor-pointer">
                            <i class="material-icons">keyboard_tab</i>
                            Salir
                        </a>
                    </li>
                </ul>-->
            </div>
        </nav>
    </div>
</header>
<!-- END: Header-->
