<aside
    class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1" href="index.html">
                <img class="hide-on-med-and-down"
                     src="assets/images/logo/materialize-logo-color.png"
                     alt="materialize logo">
                <img class="show-on-medium-and-down hide-on-med-and-up" src="assets/images/logo/materialize-logo.png"
                    alt="materialize logo">
                <span class="logo-text hide-on-med-and-down">Materialize</span>
            </a>
            <a class="navbar-toggler" href="#">
                <i class="material-icons">radio_button_checked</i>
            </a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow ps ps--active-y" id="slide-out"
        data-menu="menu-navigation" data-collapsible="menu-accordion">
        <li class="navigation-header">
            <a class="navigation-header-text">Páginas</a>
            <i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        
        <ng-template #items let-item>
            <div *ngIf="item.IsMain; then IsMain; else IsNotMain"></div>
            
            <ng-template #IsMain>
                <li routerLinkActive="active" class="bold IsMain">
                    <a routerLinkActive="active" class="waves-effect waves-cyan cursor-pointer" [routerLink]="['/' + childitem.Route]"
                       *ngFor="let childitem of item.MenuRoutes" (click)="close()">
                        <i class="material-icons">{{ childitem.Icon }}</i>
                        <span class="menu-title" [attr.data-i18n]="childitem.TitleRoute">{{ childitem.TitleRoute }}</span>
                    </a>
                </li>
            </ng-template>
            
            <ng-template #IsNotMain>
                <li [ngClass]="!item.IsMain ? '' : 'IsMain'" routerLinkActive="active" class="bold">
                    <a class="collapsible-header waves-effect waves-cyan cursor-pointer">
                        <i class="material-icons">{{ item.Icon }}</i>
                        <span class="menu-title" [attr.data-i18n]="item.SectionTitle">{{ item.SectionTitle }}</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
                            <ng-template ngFor [ngForOf]="item.MenuRoutes"
                                         [ngForTemplate]="items">
                            </ng-template>
                        </ul>
                    </div>
                </li>
            </ng-template>
            
        </ng-template>
        
        <ng-template *ngFor="let menuItem of menuItems"
                     [ngTemplateOutlet]="items"
                     [ngTemplateOutletContext]="{ $implicit: menuItem }">
        </ng-template>
    </ul>
    <div class="navigation-background"></div>
    <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
       href="#" data-target="slide-out">
        <i class="material-icons">menu</i>
    </a>
</aside>
